kubernetes
logs
vendor
backend/config/config.ini.php
Dockerfile_App
Dockerfile_Websocket
package-lock.json
.gitignore
.git
composer.lock
frontend/frameworks/node_modules/*
frontend/frameworks/package-lock.json